@charset "utf-8";
/* CSS Document */


/*media print*/


body {
background-color:#FFFFFF;
width:170mm;
}


#calendar table {

  border-collapse: collapse;
  width: 50%;
}

#calendar td,
#calendar th {
  font-family: "Lucida Grande",arial,helvetica,sans-serif;
  font-size: 10px;
  padding: 6px;
  border: 2px solid #AC0481;

}

#calendar th {

  background: #F677C4;
  color:#ffffff;
  text-align: center;
  width: 14.2857142857143%;
}

#calendar td {

  background: #FFF;
  color: #777;
  height: 35px;
  vertical-align: top;
  font-size: 16px;
}

#calendar .notmonth {

  color: #CCC;
}

#calendar #month {

  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#calendar #month a, #calendar #month a:hover {

  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

#calendar .today {
  background-color: #D7F2FF;
}

#calendar ul {

  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}

#calendar li {

  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: center;
}

#calendar .monthname{
font-family:Arial, Helvetica, sans-serif;
font-size:8pt;
font-weight:bold;
border-bottom:1pt solid #000000;
background-color:#F677C4;
}