@charset "utf-8";
/* CSS Document */

body {
	width:100%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:24px;
	margin:0 auto;
}
h2 {font-weight:bold;font-size: 18px; color:#999999;}
h4 {font-weight:bold;font-size: 16px; color: #666666; border-bottom:1px solid  #E98B99; padding-bottom:10px; width:auto;}
h3 {font-weight:bold;font-size: 16px; color: #666666; width:auto;}
h5 {font-weight:bold;font-size: 18px; color:#ffffff;}

#header {
	width:100%;
	background:#ca1623 url(../images/header.jpg) repeat-y;
	height:170px;
	padding:0px;
	margin:0px;
}
.header {
	width:960px;
	margin:0 auto;
}
.lefthead {
	width:560px;
	padding:0px;
	height:auto;
	margin:10px 0 0 0;
	float:left;
}
.choose {
	width:121px;
	height:45px;
	padding:0px;
	padding:0 10px 0 210px;
	float:left;
}
.sport {
	width:214px;
	height:82px;
	padding:0px;
	margin:0px;
	float:right;
}
.seeur {
	width:464px;
	height:27px;
	float:left;
	padding:0px;
	margin:0px;
}
.custom {
	width:176px;
	margin:10px 0 0 0;
	float:left;
}
.rightcornor {
	width:228px;
	height:182px;
	top:0%;
	position:absolute;
	z-index:9999px;
	right:50px;
}
.leftclick {
	width:148px;
	top:16%;
	position: absolute;
	z-index:1px;
	left:240px;
}
#container {
	width:960px;
	margin:0 auto;
}
.contentcntr {
	width:340px;
	padding-left:290px;
	float:left;
}
.contentcntr h1 {
	color: #000000;
	font-size:14px;
	font-weight:bold;
}
.contentcntr p {
	font-size:12px;
	color:#000000;
	padding:5px 0 0 0;
	margin:0px;
	line-height:20px;
}
.getyour {
	float:left;
}
.image {
	float:left;
	width:132px;
	height:458px;
}
.rightcoloum {
	width:140px;
	float:left;
	padding-top:40px;
}
.rightcoloum ul {
	list-style: decimal;
}
.rightcoloum ul li {
	color:#FF0000;
	font-weight:bold;
	font-size:14px;
	text-align: center;
}
.that {
	font-size:24px;
	color:#FF0000;
	text-transform:uppercase;
	text-align:center;
	font-weight:bold;
}
.rightcoloum p {
	font-weight:bold;
	color:#FF0000;
	text-align:center;
	font-size:14px;
}
.righttopless {
	width:50px;
	float:left;
	padding-top:200px;
}
.rightdown {
	width:100px;
	height:182px;
	top:85%;
	position:absolute;
	z-index:9999px;
	right:80px;
}
.nav {
	float:left;
	padding-left:240px;
}
.nav ul {
	float:left;
	margin:0px;
	list-style:none;
}
.nav ul li {
	float:left;
	height:40px;
	padding:0 5px;
	color:#ffffff;
}
.nav ul li a {
	color: #FFFFFF;
	display:block;
	font:13px Arial, sans-serif;
	padding:9px 5px 10px;
	font-weight:bold;
	text-transform:uppercase;
	text-decoration:none;
}
.nav ul li a:hover {
	text-decoration:underline;
}
/*Inside page */

.headerin{
	width:100%;
	padding:0px; 
	margin:0px;
	}
.nav_in {
	float:right;
	}
.nav_in ul {
	float:left;
	margin:0px;
	list-style:none;
}
.nav_in ul li {
	float:left;
	height:40px;
	padding:0 5px;
	color:#ffffff;
}
.nav_in ul li a {
	color: #FFFFFF;
	display:block;
	font:13px Arial, sans-serif;
	padding:9px 5px 10px;
	font-weight:bold;
	text-transform:uppercase;
	text-decoration:none;
}
.nav_in ul li a:hover {
	text-decoration:underline;
}
#footer{
	width:100%;
	background:#ca1623 url(../images/header.jpg) repeat-y;
	height:80px;
	padding:0px;
	margin:0px;
}
a{color:#FFFFFF; text-decoration:none;}
.white{color:#FFFFFF;}
.yellow{color:#FFFF00;}

.black{float:right; color:#a77777;
font-size:12px;
font-weight:bold;}
.black1{float:left; color:#a77777; padding-left:10px;
font-size:12px;
font-weight:bold;}
.black:hover{ text-decoration:underline; color:#a77777;}
.chs{float:left; color:#a77777;
font-size:12px;
font-weight:bold;}
.chs:hover{ text-decoration:underline; color:#a77777;}
.button{background:url(../images/button.png) no-repeat; width:166px; height:60px; color:#FFFFFF; font-weight:bold; text-align:center;}
.button_in{text-align:center; background:none; border:none; color:#FFFFFF; font-weight:bold; font-size:24px; padding-top:6px;}
.pd{padding:10px;}
.formbg{ border:1px solid #DFDFDF; background:#f7ebec;}
.formbg1{ border:1px solid #DFDFDF; background:#d8c6c6;}
.field { -moz-box-shadow: -1px -1px 2px #8a8a8a; box-shadow: -1px -1px 2px #8a8a8a; height:28px; float:left; background:#fff; margin-top:1px; -moz-border-radius: 5px; border-radius: 5px;
-webkit-border-radius: 5px; border:1px solid #ccc; -webkit-box-shadow: -1px -1px 2px #8a8a8a; }
a.links_in{color: #be6b6a; font-weight:bold; font-size:14px; padding:0px; margin:0px; height:20px;}
a.links_in:hover{ text-decoration:underline;}
.smallfont{font-size: 12px; color: #666666; width:auto; padding:0px; margin:0px;}
.mgb{margin-bottom:10px;}
.calendercon{width:420px; float:left;}
.calenderimg{padding:10px; float:left; border:1px solid #000000; width:400px;}
.Month{ background:#FF0000; padding:5px 0 10px 20px; float:left; width:402px; font-size:30px; font-weight:bold; color:#FFFFFF;}
.dayblack{width:16px; height:19px;font-size:18px; font-weight:bold; color:#000000; text-align:center;padding-top:10px;}
.daylit{width:16px; height:19px;font-size:13px; font-weight:bold; color:#000000; text-align:center;padding-top:10px;}
.dayred{width:19px; height:19px;font-size:18px; font-weight:bold; color:#FF0000; float:left; text-align:center; padding-top:10px;}
.left {float:left;}
.right {float:right;}