<div class="span-24 prepend-top">
  <div class="comment-box">Sample Image</div>
  <div class="comment-box prepend-top">
    <blockquote>
      <b>Please feel free to direct any queries and comments to the email address below.</b>
      <p>
        Customised Calendar<br />
        9 Sandy Croft,<br />
        Kings Heath,<br />
        Birmingham.<br />
        B13 0EP.<br />
        E-Mail: p_anit@hotmail.com<br />
        Phone: 07768 532 519<br />
      </p>
    </blockquote>
  </div>
</div>