
<div class="span-24 prepend-top">
  <div class="span-12 first">
    <div class="image-box"><b>Image Box</b></div>
  </div>
  <div class="span-12 last">
    <div class="comment-box">
      <blockquote>
      <p>
        1.Loriem ipsumLoriem ipsumLoriem ipsumLoriem ipsumLoriem ipsumLoriem ipsumLoriem ipsumLoriem ipsumLoriem <br />
        2.ipumLoriem ipsumLoriem ipsumLoriem ipsumLoriem ipsumLoriem ipsumLoriem ipsumLoriem ipsumLoriem ipsum<br />
        3.ipumLoriem ipsumLoriem ipsumLoriem ipsumLoriem ipsumLoriem ipsumLoriem ipsumLoriem ipsumLoriem ipsum<br />
      </p>
      </blockquote>
    </div>
    <div class="span-6 push-1">
      <%= link_to "Place an order >>>>>>>>", new_calendar_path, :class => "button" %>
      <%#*<a href="#" class="button">Place Your Order >>>>></a>%>
    </div>
  </div>
</div>

<div class="span-12 first"><b><a href="#">Why Sports Calendar</a></b></div>
<div class="span-12 last"><b><a href="#">About Us</a></b></div>


