<div id="container">
<div class="leftclick"><img src="images/clicktoorder.png" /></div>
<div class=" contentcntr">
  <h1>Start 2011 with a BANG With your very own
    customised Sport Calendar!</h1>
  <p>All your favourite topless Sport stunnas are here
    and YOU can choose who you see each month
    on your calendar next year.</p>
  <p>That's right, if you've got a soft spot for Katie Ryder
    you can have her from January to December. If you
    prefer a bit of variety why not have a different babe
    for every month OR BOTH?</p>
  <p>Just imagine it: topless Tommie Jo in the bedroom
    and lovely Missy Love in the kitchen!</p>
  <p>Want one for work? Bare boobs a no-no with the boss?
    No problem!</p>
  <p>Each of our gorgeous girls are available in a covered up
    shot too. In fact why not have a naughty one at home
    and a bikini clad one for the office?</p>
  <p>If you want a laugh, there's also a selection of classic
    Sunday Sport front pages to choose from.</p>
  <p>These large format high quality full colour calendars
    make great gifts - and you can order yours instantly
    online, they'll be delivered in days!</p>
  <p>At only £9.99 + P&P it's got to be the biggest bargain
    of the year! </p>
  <div class="getyour"><img src="images/getyoursnow.png" /></div>
</div>
<div class="image"><img src="images/images.png" /></div>
<div class="rightcoloum">
<ul>
<li>Choose your cover</li>
  <li>Choose a favourite Sport babe picfor each month</li>
  <li>Pay for your calendar</li>

</ul>
<span class="that">THAT'S IT!</span>
<p>Your very own
Sport 2011
Calendar will
be delivered
to your
door in
DAYS!</p>
</div>
<div class="righttopless"><img src="images/toplecover.png" /></div>
<div class="rightdown"><img src="images/only9pound.png" /></div>
</div>