<div class="span-24 prepend-top">
  <div class="comment-box">Sample Image</div>
  <blockquote>
    <p>
      <b>
        &quot;We like to hear what our customers think of our product so please feel free to send some feedback to the email address provided.&quot;
      </b>
    </p>
  </blockquote>
  <div class="span-6">
    <a href="#" class="button">Send Your Testimonial >>>>></a>
  </div>
</div>