<h4>Select Color Style</h4>

<div class="span-3">
  <dl><dd class="colbox1_1"></dd><dd class="colbox1_2"><dd class="colbox1_3"></dd></dd></dl>
  <div class="prepend-1"><%= style.radio_button("style_id", 1, :checked => true) %></div>
</div>

<div class="span-3">
  <dl><dd class="colbox2_1"></dd><dd class="colbox2_2"><dd class="colbox2_3"></dd></dd></dl>
  <div class="prepend-1"><%= style.radio_button("style_id", 2) %></div>
</div>

<div class="span-3">
  <dl><dd class="colbox3_1"></dd><dd class="colbox3_2"><dd class="colbox3_3"></dd></dd></dl>
  <div class="prepend-1"><%= style.radio_button("style_id", 3) %></div>
</div>

<div class="span-3">
  <dl><dd class="colbox4_1"></dd><dd class="colbox4_2"><dd class="colbox4_3"></dd></dd></dl>
  <div class="prepend-1"><%= style.radio_button("style_id", 4) %></div>
</div>
